<a href="#/Circles">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Circle</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addCircle()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="Circle.title" placeholder="Title">
        </div>
          <label>circleInstance</label>
          <input type="text" class="form-control" ng-model="Circle.circleInstance" placeholder="circleInstance">
        </div>
        <div class="form-group">
          <label>identity</label>
          <input type="text" class="form-control" ng-model="Circle.identity" placeholder="identity">
        </div>
        <div class="form-group">
          <label>contract</label>
          <input type="text" class="form-control" ng-model="Circle.contract" placeholder="contract">
        </div>
        <div class="form-group">
          <label>UTXO</label>
          <textarea class="form-control" ng-model="Circle.UTXO" placeholder="UTXO"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>